{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block bootstrap3_title %}{{ headString }}{% endblock %}


***** ниже блок для секции head. Этот текст не попадет в HTML *****

{% block bootstrap3_extra_head %}
{{ block.super }}

{% autoescape off %} {{ autoRefresh }} {% endautoescape %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="{% static "shared/jquery-ui.js" %}"></script>
<script src="{% static "shared/boxFormController.js" %}"></script>
<script src="{% static "shared/boxFormView.js" %}"></script>

<!--link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css"-->

{% endblock %}>


***** ниже блок для секции body. Этот текст не попадет в HTML *****

{% block bootstrap3_content %}
{{ block.super }}

	<div style="width: 100.26%; margin-left: -0.13%; margin-right: -0.26%; margin-top: 3px; overflow: hidden;">
		<ol id="selectable" class="ui-selectable">
			<!--li id="sel1">
				<span><span class="text"></span><span>
			</li-->
		</ol>
	</div>
	
	<div id="recordlist" style="color: #ebedee; background: #2e3a6b; margin: 2px 0 3px 0; height: auto; align: justify; overflow: hidden; text-overflow: clip; padding: 0; width: 100%;"></div>
	
	<div class="brd">
		<div id="summary" style="margin: 0px 0.6%"></div>
    <!--div class="legend2nothing"></div><p> - не меняются </p>
    <div class="legend2add"></div><p> - будут добавлены </p>
    <div class="legend2remove"></div><p> - будут удалены </p-->
	</div>

</div>

{% endblock %}
